
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}


.container{
    word-wrap: break-word
    position: relative;
    max-width: 1200px;
    padding:  0;
    margin:  0 auto;
    height: 100%;
}

.navbar{
    padding:  0;
    max-width: 100%;
    height: 90px;
}

.logo-company{
    display: flex;
    max-width: 250px;
}

.logo-company h4{
    margin:  0;

    font-family:"Play";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;

    color: #0E0E0E;
}


.logo-company span{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
       
    letter-spacing: 0.015em;
    
    color: rgba(14, 14, 14, 0.61);
}

.nav-link{
    padding: 0;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.nav-link a{
    padding: 37px 17px;
    align-items:center;
    font-family:  "Geometria";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;

    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #001A33;
    text-decoration: none;
}

.nav-link a:nth-of-type(4){
    color: #4169C1;
}

.nav-link a:hover{
    background: #4169C1;
    color: #FFFFFF;
}

.logo-company img{
    width: 48px;
    height: 45px;
    margin-right: 8px;
}

.company-name{
    display: flex;
    flex-direction: column;
    margin:  0;
}

.tel-call{
    display: flex;
    align-items: center;
}

.tel-call a{
    text-decoration: none;

    font-family:  "Geometria";
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;

color: #0B0B0B;
}

.tel-call img{
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.construction-services-text{
    height: 488px;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-image:url('./img/Rectangle 2.svg');
    background-repeat:no-repeat;
    background-size:100%;
    text-align: center;
}

.construction-services-text h4{
    max-width: 846px;
    margin-top: 109px;
    font-family:  "Geometria";
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 55px;
    text-align: center;
    letter-spacing: 0.015em;
    
    color: #FFFFFF;
    margin-bottom: 7px;
    
    transform: rotate(0deg);
}

.construction-services-text span{
    max-width: 585px;
    font-family:  "Geometria";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 156.46%;

    text-align: center;
    
    color: #FFFFFF;
}

.feedback-heading h4{
    margin:  0;
    margin-bottom: 25px;
    font-family:  "Geometria";
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;

    color: #001A33;
}

.feedback{
    position: relative;
    top: -170px;
    margin:  0 auto;
     height: 202px;
    background-image: url('./img/Rectangle 153.svg');
    border-radius: 5px;
    background-size: cover;
}

.feedback-container{
   height: 100%;
   display: flex;
   align-items:center;
}

.container-feedback{
    max-width: 1000px;
    margin: 0 auto;
}

.input-data{
    max-width: 1500px;

    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: flex-end;
}


.input-data input{
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #E7ECF3;
    box-sizing: border-box;
    border-radius: 5px;
    padding-left: 15px;

    font-family:  "Geometria";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;

    color: rgba(16, 16, 16, 0.4);
    margin-right: 20px;
}


.input-data-item{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.input-data-item span{
    font-family:  "Geometria";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    
    color: #001A33;
}

.input-data button{
    width: 100%;
    height: 50px;
    background: #FD6612;
    border-radius: 23.5px;
    border:none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-family:  "Geometria";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.04em;

    padding:  0;

    color: #FFFFFF;
}


.input-data button:hover{
  cursor: pointer;
  transform: scale(1.1);
  transition: transform .5s
}


.box-geographic-works{
    display: grid;
    grid-template-columns: 1fr 1fr
}


.geographic-works-text{
    max-width: 484px;
    display: flex;
    flex-direction: column;
    margin-bottom: 84px;
}


.geographic-works-text h4{
    font-family:  "Geometria";
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 44px;
    margin-top: 94px;
    margin-bottom: 23px;
    color: #001A33;

    transform: rotate(0deg);
}

.geographic-works-text h5{
    font-family:  "Geometria";
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 150.52%;

    color: #001A33;
}

.geographic-works-text span{
    font-family:  "Geometria";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 156.46%;

    color: rgba(0, 26, 51, 0.7);
}

.geographic-works-img{
    max-width: 724px;
    height: 455px;
}

.geographic-works-img img{
    width: 100%;
    height: 100%;
}


.our-portfolio{
    
    background: #F4F8FF;
}


.our-portfolio h4{
    margin-bottom: 38px;
    font-family:  "Geometria";
    padding-top: 70px;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 44px;

    text-align: center;

    color: #001A33;

    transform: rotate(0deg);
}


.box-flex{
    display: flex;
}


.carousel-control-prev-icon{
    border: 3px solid rgba(65, 105, 193, 0.38);
    transform: rotate(-90deg);
}


.block-chek-text img{
    width: 24px;
    height: 24px;

}

.d-block-img1{
    width: 400px;
    height: 500px;
    
}
.d-block-img2{
    width: 400px;
    height: 500px;
}

.d-block-2 h4{
    font-family:  "Geometria";
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    color: #FFFFFF;
    text-align: left;
}

.d-block-2 p{
    max-width: 481px;
    font-family:  "Geometria";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 156.46%;
    color: rgba(255, 255, 255, 0.7);
}


.box-working-ok{
    display: flex;
    flex-direction: column;
}

.box-working-ok h5{
    font-family:  "Geometria";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    
    color: #FFFFFF;

}

.box-slide-1{
    max-width: 950px;
    margin:  0 auto;
    display: flex;
    justify-content: center;
    align-items:center;
}

.slide-carousel{
    width: 720px;
    height: 450px;
    background: #4169C1;
}

.container-carousel{
    max-width: 500px;
    margin:  0 auto;
}

.carousel-inner{
    width: 80%;
}

.container-carousel h4{
    text-align: left;
    font-family: "Geometria";
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;

    color: #FFFFFF;
}

.carousel{
    display: flex;
    justify-content: center;
}

.container-carousel p{
    font-family: "Geometria";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 156.46%;

    color: rgba(255, 255, 255, 0.7);

}



.block-chek-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.chek-text-item{
    display: flex;
    flex-direction: column;
}
.chek-text-item img{
    margin-right: 5px;
}

.chek-text-item span{
    font-family:  "Geometria";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;

    color: #FFFFFF;
}

.bid-go-button {
    margin-top: 40px;
    max-width: 410px;
    border: none;
    height: 70px;
    background: #FD6612;
    border-radius: 37.5px;

    font-family:  "Geometria";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.bid-go-button:hover {
    transform: scale(1.1);
    transition: transform .5s
}


.box-work-with-us{
    height: 100%;
    background: white;
}


.heading-works-with-us{
    margin-top: 80px;
    margin-bottom: 25px;
}

.heading-works-with-us h4{
    font-family:  "Geometria";
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 44px;
    text-align: left;

    color: #001A33;

    transform: rotate(0deg);
}

.box-grid-works-item{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 33px;
}

.grid-works-item img{
    width: 70px;
    height: 70px;
    margin-right: 33px;
}

.grid-works-item h4{
    padding: 0;
    margin-bottom: 3px;
    font-family:  "Geometria";
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;

    color: #001A33;
}

.grid-works-item p{
    max-width: 277px;
    font-family: "Geometria";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;

    color: rgba(0, 26, 51, 0.7);
}

.grid-works-item{
    display: flex;
    align-items: flex-start;
}

.grid-works-item-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.about-our-company h4{
    font-family: "Geometria";
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 44px;
    text-align: left;
    color: #001A33;
    margin-bottom:115px;
    transform: rotate(0deg);
}

.about-our-company-container h5{
    margin-top: 73px;
    font-family: "Geometria";
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;

    color: #FFFFFF;
}

.about-our-company-container p{
    font-family: "Geometria";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 156.46%;


    color: #FFFFFF;

    opacity: 0.7;
}

.box-certificates img{
    width: 132px;
    height: 185px;
    margin-right: 23px;
}

.about-our-company{
    display: flex;
    height: 900px;
    background: #F4F8FF;
}
.about-our-company-container{
    max-width: 440px;
    margin:  0 auto;
    height: 100%;
}


.box-about-our-company{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.about-our-company-1{
    position: absolute;
    left: 0px;
    width: 585px;
    height:588px;
    background-image:url('./img/Group\ 38.svg')
}


.about-our-company-2 img{
    width: 790px;
    height: 440px;
}

.footer-site-contacts{
    height: 445px;
    background: #4169C1;
}

.box-footer-site-contacts{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.contacts{
    display: flex;
    flex-direction: column;
}

.contacts h4{
    font-family: "Geometria";
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    margin-top: 65px;
    margin-bottom:24px;
    line-height: 44px;
    color: #FFFFFF;

    transform: rotate(0deg);
}

.contacts span{
    font-family: "Geometria";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
}

.contacts{
    max-width: 255px;
}

.contacts a{
    font-family: "Geometria";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    color: #FFFFFF;
    
    opacity: 0.7;
    margin-bottom: 14px;
}


.tel-contact{
    display: flex;
    justify-content: space-between;
}

.tel-contact-item{
    display: flex;
    flex-direction: column;
}

.tel-contact-item a{
    font-family: "Geometria";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    color: #FFFFFF;
    
    opacity: 0.7;
}


.email-contact{
    display: flex;
    justify-content: space-between;
}

.address-contact{
    display: flex;
    justify-content: space-between;
}

.address-contact a{
    font-family: "Geometria";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: right;

    color: #FFFFFF;

    opacity: 0.7;
}

.social-icon-contacts{
    max-width: 110px;
    display: flex;
    justify-content: space-between;
    margin-top: 27px;
}


.social-icon-contacts a:hover{
    transform: scale(1.2);
    transition: transform .5s
}

.name-company-contacts h5{
    font-family: "Geometria";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    margin-top: 28px;
    color: #FFFFFF;
}

.feedback-questions{
    width: 720px;
    height: 100%;
    
    position: relative;
    bottom: 30px;

    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}


.feedback-questions-container{
    max-width: 580px;
    margin:  0 auto;
}

.feedback-questions h4{
    font-family: "Geometria";
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    margin-top: 40px;
    color: #001A33;
}


.box-feedback-questions-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
}

.item-input-data-user {
    display: flex;
    flex-direction: column;
}

.content-mobile-feedback{
    display: none;
    
}
.box-feedback-questions-grid span{
    font-family: "Geometria";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    margin-top: 10px;
    
    color: #001A33;
    
}

.item-input-data-user input{
    font-family: "Geometria";
    background: #EEF2F9;
    border: 1px solid #E7ECF3;
    box-sizing: border-box;
    border-radius: 5px;
    height: 45px;
    padding-left: 15px;
    
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;

    color: rgba(16, 16, 16, 0.4);
}

.box-comments{
    display: flex;
    flex-direction: column;
}

.box-comments input{
    background: #EEF2F9;
    border: 1px solid #E7ECF3;
    box-sizing: border-box;
    border-radius: 5px;
    height: 192px;
    padding-left: 15px;
}

.box-comments input::placeholder{
    transform: translateY(-70px);
}

.box-comments button{
   height: 50px;
   margin-top: 35px;
   margin-bottom: 43px;
   background: #FD6612;
   border-radius: 23.5px;  

   border: none;

   font-family: "Geometria";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.04em;

    color: #FFFFFF;
}

.box-comments button:hover{
    transform: scale(1.1);
    transition: transform .5s
}

.chekbox input{
    margin-right: 5px;
}

.chekbox {
    display: flex;
    flex-direction: row;
    margin-top: 23px;
}

.chekbox span{
    font-family: Geometria;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    
    color: rgba(16, 16, 16, 0.4);
    
}

.chekbox a{
    color: black;
}


.box-copyright{  
    height: 93px;
    background: #001A33;
}

.box-copyright-flex{
    height: 93px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-copyright span{
    font-family: Geometria;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;

    color: rgba(255, 255, 255, 0.53);
}

.box-fox{
    display: flex;
}

.box-fox img{
    margin-right: 8px;
}

.box-fox a{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;

    text-align: center;
    text-decoration-line: underline;

    color: #FFFFFF;
}





/*************************** MOBILE *******************************/

.header-mobile{
    max-width: 100%;
    height: 90px;
    display: none;
}

.nav-mobile{
    width: 100%;
    align-items:center;
    display: flex;
    justify-content: space-between;
}

.nav-mobile img{
    widows: 48px;
    height: 45px;

    margin-right: 5px;
}

.company-name-and-logo-mobile{
    display: flex;
}

.company-name-mobile h4{
    margin:  0;
}

.box-nav-info-2-mobile{
    display: flex;
}

.tel-call-mobile{
    width: 250px;
    display: flex;
    align-items: center;
}

.tel-call-mobile a{
    text-decoration: none;

    font-family:  "Geometria";
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;

color: #0B0B0B;
}

.tel-call-mobile img{
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.list-mobile button{
    width: 48px;
    border:none;
    background: unset;
    align-items:center
}


.list-mobile button:hover{
    transform: scale(1.1);
    transition: transform .5s
}

.construction-services-mobile{
    display: none;
    background-image:url('./img/mobile/Rectangle 2mobile.svg');
    height:757px;
    background-repeat:no-repeat;
    background-size:100%;
    text-align: center;
}

.construction-services-text-mobile h4{

    font-family: "Geometria";
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.015em;

  
    color: #FFFFFF;

    transform: rotate(0deg);
    max-width: 600px;
    margin:  0 auto;
    padding-top: 72px;
}

.construction-services-text-mobile span{
    max-width: 400px;
    font-family: "Geometria";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 156.46%;

    text-align: center;
    
    color: #FFFFFF;
    margin-top: 6px;
}

.feedback-mobile{
    display: none;
    position: relative;
    top: -255px;
    background-image: url('./img/mobile/Rectangle 153mobile.svg');
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;

    height: 500px;
    display: flex;
    align-items: center;
}

.feedback-container-mobile{
    display: flex;
}

.input-data-item-mobile{
    display: flex;
    flex-direction: column;
   
}


.input-data-item-mobile span{
    font-family:  "Geometria";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    
    color: #001A33;
}

.input-data-mobile button{
    width: 100%;
    height: 50px;
    background: #FD6612;
    border-radius: 23.5px;
    border:none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-family:  "Geometria";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.04em;
  
    padding:  0;
    
    color: #FFFFFF;
}


.input-data-mobile button:hover{
    transform: scale(1.1);
    transition: transform .5s
}

.input-data-mobile input{
  
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #E7ECF3;
    box-sizing: border-box;
    border-radius: 5px;
    padding-left: 15px;

    font-family:  "Geometria";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;

    color: rgba(16, 16, 16, 0.4);
}

.input-data-mobile{
    display: grid;
    grid-template-rows: repeat(4,80px) ;
}

.container-mobile-feedback{
    max-width: 500px;
    margin:  0 auto;
}

.content-mobile-feedback{
    height: 250px;
}



.about-our-company-mobile-box{
    display: flex;
    flex-direction: column;
}

.about-our-company-mobile{
    display: none;
    height: 100%;
}


.about-our-company-mobile-img{
    width: 100%;
    position: relative;
    bottom: 150px;
    z-index: 1;
}



.about-our-company-1-mobile{
    margin:  0 auto;
    position: relative;
    z-index: 10;
    max-width: 585px;
    height:588px;
    background-image:url('./img/Group\ 38.svg');
    background-size: cover;
}


.about-our-company-container-mobile h5{
    padding-top: 73px;
    font-family: "Geometria";
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;

    color: #FFFFFF;
}

.about-our-company-container-mobile{
    max-width: 440px;
    margin:  0 auto;
    height: 100%;
}

.about-our-company-container-mobile p{
    font-family: "Geometria";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 156.46%;


    color: #FFFFFF;

    opacity: 0.7;
}


.footer-site-contacts-mobile{
    display: none;
    height: 505px;
    background: #4169C1;
}

.contacts-mobile{
    display: flex;
    flex-direction: column;
}


.contacts-mobile h4{
    font-family: "Geometria";
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    margin-top: 65px;
    margin-bottom:30px;
    line-height: 44px;
    color: #FFFFFF;

    transform: rotate(0deg);
}

.contacts-mobile span{
    font-family: "Geometria";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
}

.contacts-mobile{
    max-width: 255px;
}

.contacts-mobile a{
    font-family: "Geometria";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    color: #FFFFFF;
    
    opacity: 0.7;
    margin-bottom: 14px;
}
.name-company-contacts-mobile h5{
    font-family: Geometria;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    margin-top: 77px;
    margin-bottom: 70px;
    color: #FFFFFF;
}


.tel-contact-mobile,.email-contact-mobile,.address-contact-mobile{
    display: flex;
    justify-content: space-between;
}

.address-contact-mobile a{
    font-family: "Geometria";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: right;

    color: #FFFFFF;

    opacity: 0.7;
}


.feedback-questions-mobile{
    width: 360px;
    height: 100%;
    
    position: relative;
    bottom: 30px;

    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.feedback-questions-container-mobile{
    max-width: 270px;
    margin:  0 auto;
}

.feedback-questions-container-mobile h4{
    margin-top: 20px;
}

.box-feedback-questions-grid-mobile{
    display: flex;
    flex-direction: column;
}

.chekbox-mobile input{
    margin-right: 5px;
}

.chekbox-mobile {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-bottom: 20px;
}

.chekbox-mobile span{
    font-family: Geometria;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: rgba(16, 16, 16, 0.4);
        align-items: flex-end;

}

.chekbox-mobile a{
    color: black;
}


.item-input-data-user-mobile input{
    font-family: "Geometria";
    background: #EEF2F9;
    border: 1px solid #E7ECF3;
    box-sizing: border-box;
    border-radius: 5px;
    height: 45px;
    padding-left: 15px;
    
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;

    color: rgba(16, 16, 16, 0.4);
}

.box-flex{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 505px;
    background: #4169C1;
}

.box-small-contacts{
    display: none;
}

.feedback-questions-mobile-small h4{
    text-align: center;
    width: 100%;
    margin-top: 50px;
}


.box-copyright-small{
    height: 180px;
    background: #001A33;
}

.chek-text-item span{
    display: flex;
}

/*************************** @MEDIA *******************************/


@media(max-width:1400px){
    .container{
        width: 1000px;
    }

    .geographic-works-img img{
        max-width: 600px;
        height: 455px;
    }

    .nav-link a{
        padding: 37px 10px;
    }
    .container-carousel{
        max-width: 380px;
    }


    .block-chek-text img{
        width: 20px;
        height: 20px;
    }

}


@media(max-width:1200px){
    .container{
        width: 900px;
    }

    .feedback-questions{
        width: 620px;
        height: 100%;
        
    }

    .nav-link a{
        padding: 3px 9px;
    }

    .container-feedback{
        max-width: 800px;
    }

    .block-chek-text{
        flex-direction: column;
    }

    .bid-go-button{
        margin-top: 10px;
    }

    .container-carousel{
        max-width: 300px;
    }

    .bid-go-button{
        width: 200px;
        height: 50px;
        margin:  0 auto;
        margin-top: 20px;
        font-size: 15px;
    }
}

@media(max-width:960px){
    .container{
        max-width: 850px;
    }
    .navbar{
        display: none
    }
    .construction-services-mobile{
        display: block;
    }
    .header-mobile{
        display: flex;
    }

    .construction-services{
        display: none;
    }

    .construction-services{
        display: none;
    }

    .feedback{
        display: none;
    }

    .feedback-mobile{
        display: flex;
    }
    
    .content-mobile{
        display: block;
    }

    .content-mobile-feedback{
        display: block;
    }

    .box-geographic-works{
        display: block;

    }

    .geographic-works-img {
        max-width: 100%;
    }  
    
    .geographic-works-img img{
        max-width: 100%;
    }
    
    .box-grid-works-item{
        grid-template-columns: repeat(2, 1fr);
    }

    .about-our-company{
        display: none;
    }

    .about-our-company-mobile{
        display: block;
    }

    .box-slide-1{
        flex-direction: column;
    }

   .d-block-img1, .d-block-img2 {
       width: 100%;
       object-fit: cover
   }

   .footer-site-contacts{
       display: none;
   }


   .footer-site-contacts-mobile{
       display: block;
   }

   .box-copyright{
    height: 180px;
}

    .box-copyright-flex{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
    }

    .box-fox{
        width: 180px;
        align-items: flex-start;
    }

    .carousel{  
        display: flex;
        flex-direction: column;
        align-items:center;
    }
    
    .carousel button{
       position: unset;
    }

    .slide-button{
        margin-top: 20px;
        width: 90%;
        display: flex;
        justify-content: space-between;
    }

    .tel-call-mobile a{
        font-size: 17px ;
    }

}

    @media(max-width:860px){
        .container{
            max-width: 750px;
        }
    }
    
    
    @media(max-width:800px){
        .container{
            max-width: 600px;
        }

        .container-carousel{
            max-width: 450px;
        }

        .feedback-questions-mobile{
            width: 300px;
        }
    }   
    
    @media(max-width:650px){
        .container{
            max-width: 480px;
        }

        .container-carousel{
            max-width: 350px;
            
        }

        .feedback-mobile{
            max-width: 500px;
        }

        .block-chek-text{
            flex-direction: column;
        }

        .bid-go-button{
            margin-top: 10px;
        }
        .box-grid-works-item{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .feedback-questions-container-mobile{
            max-width: 200px;
        }

        .feedback-questions-mobile{
            max-width: 215px;
        }
    }
    
    @media(max-width:480px){
        .container{
            max-width: 400px;
        }
        .tel-call-mobile{
            display: none;
        }

        .construction-services-mobile{
            background-position: center center;
            background-size: cover;
        }

        .navbar{
            height: 70px;
        }

        .header-mobile{
            height: 70px;
        }

        .geographic-works-text{
            margin-bottom: 0;
        }

        .geographic-works-img{
            height: 400px;
        }

        .d-block-img1,.d-block-img2 {
            height: 220px;
        }

        .container-carousel{
            max-width: 300px;
        }

        .about-our-company-container-mobile{
            max-width: 350px;
           
    
        }


        .box-certificates{
            padding-bottom: 55px;
           
        }

        .about-our-company-1-mobile{
            height: 100%;
        }

      
        .footer-site-contacts-mobile{
            display: none;
        }

        .box-small-contacts{
            display: flex;
        }

        .box-copyright{
            display: none;
        }
      
        .feedback-questions-container-mobile{
            max-width: 300px;
        }
        .box-copyright-flex{
            height: 180px;
            font-family: Geometria;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 18px;

            color: rgba(255, 255, 255, 0.53);

        }

        .bid-go-button {
           
            max-width: 250px;
            height: 40px;
            margin:  0 auto;
            margin-top: 20px;
        }

        .box-small-contacts{
            display: block;
        }
        .bid-go-button{
            font-size: 13px;

            }
    }


    @media(max-width:420px){
        .container{
            max-width: 350px;
        }

        .container-carousel{
            max-width: 250px;
        }

        .slide-carousel{
            height: 100%;
        }

        .about-our-company-container-mobile{
            max-width: 250px;
        }
        .box-certificates{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .bid-go-button{
            margin-bottom: 20px;
        }

          .box-certificates img{
            margin-bottom: 20px;
            margin-right:0;
        }
    } 
    
    
    @media(max-width:400px){
        .container{
            max-width: 310px;
        }

        .construction-services-text-mobile{
            word-break: break-all
        }

        .container-mobile-feedback{
            max-width: 250px;
        }

        .container-carousel{
            max-width: 200px;
        }

        .slide-button img{
            width: 30px;
            height: 30px;
        }

      

    }

@media(max-width:330px){
        .container{
            max-width: 250px;
        }

        .container-mobile-feedback{
            max-width: 200px;
        }

        .container-carousel{
            max-width:150px;
            word-break: break-all
        }

        .bid-go-button{
            max-width: 160px;
            font-size: 11px;
        }

        .bid-go-button{
            font-size: 13px ;
            margin:  0 auto;
            margin: 10px 0 10px 0;
    
        }

        .slide-button img{
            width: 25px;
            height: 25px;
        }

        .about-our-company-container-mobile{
            max-width: 200px;
        }

        .grid-works-item img{
            margin-right: 10px;
        }

        .grid-works-item h4{
            font-size: 17px;
            font-weight: 700;
        }

        .company-name-mobile h4{
            font-size: 17px;
        }
        
        .company-name-mobile span{
            font-size: 13px;
        }

    }






@font-face {
    font-family: "Play"; 
    src: url("./fonts/Play-Bold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: bold; 
} 


@font-face {
    font-family: "Geometria";
    src: url('./fonts/Geometria-Medium.ttf') format("truetype");
}